[Desktop Entry]
Version=1.0
Name=CARI Core
Comment=CARI P2P Cryptocurrency
Comment[fr]=CARI, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CARI, eşten eşe kriptografik sanal para birimi
Exec=cari-qt %u
Terminal=false
Type=Application
Icon=cari128
MimeType=x-scheme-handler/cari;
Categories=Office;Finance;
StartupWMClass=Cari-qt
