[Desktop Entry]
Version=1.0
Name=VSYNC Core
Comment=VSYNC P2P Cryptocurrency
Comment[fr]=VSYNC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VSYNC, eşten eşe kriptografik sanal para birimi
Exec=vsync-qt %u
Terminal=false
Type=Application
Icon=vsync128
MimeType=x-scheme-handler/vsync;
Categories=Office;Finance;
StartupWMClass=Vsync-qt
