
## <summary>policy for cari</summary>


########################################
## <summary>
##	Transition to cari.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cari_domtrans',`
	gen_require(`
		type cari_t, cari_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cari_exec_t, cari_t)
')


########################################
## <summary>
##	Execute cari server in the cari domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cari_initrc_domtrans',`
	gen_require(`
		type cari_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, cari_initrc_exec_t)
')


########################################
## <summary>
##	Search cari lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cari_search_lib',`
	gen_require(`
		type cari_var_lib_t;
	')

	allow $1 cari_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cari lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cari_read_lib_files',`
	gen_require(`
		type cari_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cari_var_lib_t, cari_var_lib_t)
')

########################################
## <summary>
##	Manage cari lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cari_manage_lib_files',`
	gen_require(`
		type cari_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cari_var_lib_t, cari_var_lib_t)
')

########################################
## <summary>
##	Manage cari lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cari_manage_lib_dirs',`
	gen_require(`
		type cari_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cari_var_lib_t, cari_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a cari environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cari_admin',`
	gen_require(`
		type cari_t;
		type cari_initrc_exec_t;
		type cari_var_lib_t;
	')

	allow $1 cari_t:process { ptrace signal_perms };
	ps_process_pattern($1, cari_t)

	cari_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 cari_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, cari_var_lib_t)

')

